<lasso-page name="barcode-reader" package-path="./browser.json"/>

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test Page</title>
    <lasso-head/>
</head>
<body>
    <h1>Test Page</h1>
    <button onclick="$MARKO_WIDGETS.getWidgetForEl('w0').emit('startScanning')">Button</button>
    <h2 id="result"></h2>
    <barcode-reader />
    <lasso-body/>
    <init-widgets immediate=true/>
    <script>
        var barcodeReader = $MARKO_WIDGETS.getWidgetForEl('w0');

        barcodeReader.on('readBarCodes', function (barcode) {
            document.getElementById('result').innerHTML = barcode[0].Format + ' : ' + barcode[0].Value;
        });
    </script>
</body>
</html>
